{%extends 'core/base.html'%}

{%block content%}

  <h1 class="title">View application</h1>

  <h2 class="subtitle">{{application.job.title}} </h2>
  <small>Date added: {{application.created_at}} </small>
  <p><strong>Content:</strong>{{application.content}} </p>
  <p><strong>Experience:</strong>{{application.experience}} </p>

  <hr>

  <h2 class="subtitle">Conversation</h2>

  {%for message in application.conversationmessages.all%}
    <div class="notification">
      <b>{{message.created_by.username}} - {{message.created_at | timesince }} </b>
      {{message.content}}
    </div>
    {%empty%}
    <p>No messages yet</p>
  {%endfor%}
  
  <form action="" method="post">
    {%csrf_token%}

    <div class="field">
      <div class="control">
        <textarea class="form-control" placeholder="Your message" name="content" id="id_content"></textarea>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <button class="btn btn-success mt-3">Submit</button>
      </div>
    </div>
  </form>

{%endblock%}