{%extends 'core/base.html'%}

{%block content%}
<h1 class="title">Add job</h1>
<form action="" method='post'>
  {%csrf_token%}

  {%if form.errors%}
    {%for error in form.errors%}
    <div class="notification">
      {{error}}
    </div>
    {%endfor%}
  {%endif%}
  
  <div class="field">
    <label class='form-label' for="">Title</label>
    <div class="control">
      <input class="form-control" type="text" name="title" id="id_title">
    </div>
  </div>
  <div class="field">
    <label class='form-label' for="">Short description</label>
    <div class="control">
      <textarea class="form-control"  name="short_description" id="id_short_description"></textarea>
    </div>
  </div>

  <div class="field">
    <label class='form-label' for="">Long description</label>
    <div class="control">
      <textarea class="form-control" rows="3"  name="long_description" id="id_long_description"></textarea>
    </div>
  </div>


  <div class="field mt-3">
    <div class="form_control">
      <button class="btn btn-success">Submit</button>
    </div>
  </div>
</form>
{%endblock%}