{%extends 'core/base.html'%}

{%block content%}
<h1 class="title">Apply for job - {{job.title}} </h1>
<form action="" method='post'>
  {%csrf_token%}

  {%if form.errors%}
    {%for error in form.errors%}
    <div class="notification">
      {{error}}
    </div>
    {%endfor%}
  {%endif%}
  
  <div class="field">
    <label class='form-label' for="">Content</label>
    <div class="control">
      <textarea class="form-control"  name="content" id="id_content"></textarea>
    </div>
  </div>

  <div class="field">
    <label class='form-label' for="">Experience</label>
    <div class="control">
      <textarea class="form-control" rows="3"  name="experience" id="id_experience"></textarea>
    </div>
  </div>


  <div class="field mt-3">
    <div class="form_control">
      <button class="btn btn-success">Submit</button>
    </div>
  </div>
</form>
{%endblock%}